*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #f0f4f5;
    color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 22px;
}
.logo img{
    width: 75%;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.menu ul li a:hover{
    background-color: black;
    color: white;
    padding: 8px 25px;
    border-radius: 22px;
}
/* header part end  */

main{
    width: 90vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.maincontent h2{
    color: #20bc7e;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.maincontent p{
    color: black;
    font-weight: bold;
    text-align: center;
}
.mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.box{
    padding: 18px 70px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    box-shadow: 0 0 10px black;
}
.box h3{
    color: #20bc7e;
    font-weight: bold;
    font-size: 20px;
}
.box p{
    font-weight: bold;
}