body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px;
    gap: 8px;
    box-shadow: 0 0 5px black;
    border-radius: 12px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.box span{
    padding: 5px 10px;
    border: 1px solid black;
}
button{
    padding: 5px 10px;
    font-weight: bolder;
    color: black;
}