*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: black;
}

header{
    margin: 15px;
}

nav{
    display: flex;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 85%;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

nav img{
    width: 140px;
}

nav div ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav div ul li{
    list-style: none;
    cursor: pointer;
}

nav div ul li a {
    text-decoration: none;
    font-weight: bold;
}
nav div ul li a:hover{
    color: #5955b3;
    font-weight: bolder;
}

nav button{
    padding: 10px 20px;
    color: white;
    background-color: #5955b3;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

nav button:hover{
    background-color: #28dacb;

}

main {
    display: flex;
    align-items: center;

}

.mainleft{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
    margin-left: 15px;
}

.mainleft h1{
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    color: #3c2f60;
}

.mainleft span {
    color: #5955b3;
}

.mainleft p {
    color: #828282;
    margin-top: 20px;
    margin-bottom: 50px;
}


main img {
    width: 680px;
}
main button{
    padding: 10px 20px;
    color: white;
    background-color: #5955b3;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 25%;
}
main button:hover{
    background-color: #28dacb;
}